.contact-card {
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.12);

    .form-control {
        font-size: .8rem;
    }
  
    .header {
        display: flex;
        align-items: stretch;
        margin-bottom: 20px;
        i {
            align-self: center;
            font-size: 3.6rem;
            line-height: 2rem;
            margin-right: 10px;
            color: rgba(black, .12);
        }
        
        .info {
            text-align: left !important;
            p {
                margin: 0;
            }
        }
    }
}

form {
    &.custom{
        .form-group {
            margin-bottom: 0.3rem;
        }

        .input-group-text{
            background-color: transparent !important;
            border-right-color: transparent !important;
            color: rgba(black, .12);
        }
        input , select {
            border-left-color: transparent !important;
            padding-left: 0;
            background-color: transparent !important;
        }
    }
}
