.slider-1{
    .slick-prev:before, .slick-next:before{
        color: white;
    }
    .slick-prev, .slick-next{
        border-radius: 25px;
        background-color: rgba($cc-2, .7);
        // color: white;
        width: 50px;
        height: 50px;
        z-index: 998;
        top: 30%;
        
    }
    .slick-dots li {
        margin: 0 8px;
    }

    .slick-dots li button:before {
        font-size: 4rem;
    }

    .custom-prev, .custom-next {
        position: absolute;
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 1.6rem;
        cursor: pointer;
        background: rgba($cc-2, .6);
        color: $cc-1;
        top: 30%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    
        z-index: 998;
    }

    .custom-next {
        right: 40px;
        
    }
    .custom-prev {
        left: 40px;
       
    }

    .custom-prev:hover,
    .custom-prev:focus,
    .custom-next:hover,
    .custom-next:focus {
        outline: none;
        background-color: $cc-2;
        color: white;
    }


    .img-border{
        border: solid 1px $cc-5;
        padding: 4px;
    }
    
    .slide-card{
        padding: 10px;
        // width: 200px;
        img {
            width: 100%;
            height: auto;
        }
    }

    p {
        font-family: 'FoundryMonoline';
        font-weight: 300;
        font-size: .9rem;
        line-height: .9rem;
    }
}
