footer {
    background-color: $cc-1;

    .footer-strap {
        // display: flex;
        // width: 100%;
        padding: 60px 0;

        .info {
            background-color: white;
            padding: 20px;
            border: solid 1px $cc-4;
            border-radius: 8px;
            p {
                font-size: .9rem;
                line-height: .9rem;
                margin: 0;
            }

            span {
                font-size: 1.2rem;

            }
            
        }
    
        .footer-card {
            background-color: white;
            border: solid 1px $cc-4;
            border-radius: 8px;
        }
    }

    .social-media{
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            color: $cc-1;
            margin-right: 10px;
            padding: 5px;
            background-color: $cc-2;
            border-radius: 20px;
            font-size: 20px;
            width: 40px;
            height: 40px;
            text-align: center;
            
        }
    }

    .low-footer {
        background-color: white;
        height: 100px;

        .ibama {
            display: flex;
            align-items: center;
            p{
                margin: 0;
                font-size: .8rem;
                margin-right: 20px;
            }
        }
    }
}