// Custom Colors

$cc-1: #EEEEEE;
$cc-2: #707070;
$cc-3: #727B7A;
$cc-4: #DF0209;
$cc-5: #D5D5D5;



html, body  {
    height: 100%;
    font-family: 'FoundryMonoline';
    font-size: 18px;
}


.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    & p {
        font-family: 'FoundryMonoline-MedIta';
        font-style: italic;
        font-size: 1rem;
        color:$cc-3;

        & span {
            font-family: 'FoundryMonoline-ExBdIta';
            color: $cc-4;
            font-size: 1.8rem;
            line-height: 1.8rem;
        }
    }
}



.cover {
    background-size: cover;
    img {
        width: 100%;
        height: auto;
    }

}


.title {
    font-family: 'FoundryMonoline-ExBdIta';
    font-style: italic;
    color: black;
    & h2 {
        font-size: 2.3rem;
    }
}


.hero {
    background-image: url('../images/img2.png');
    background-size: cover;
    height: 40%;
    display: flex;
    align-items: flex-end;
    padding: 30px 0;
    color:white;
}


.simple-card {
    border: solid 1px $cc-5;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn {
        border-color: $cc-5;
    }

    img {
        width: 100%;
        // height: auto;
    }

    p {
        font-weight: 300;
        font-size: .9rem;
        line-height: 1rem;
        text-align: center;
        margin: 10px 0;
    }
}
