// MOBILE
@media screen and (max-width: 767px) {

    // Fonts
    html, body {
        font-size: 1rem;
        text-align: center;
    }
    .title {
        font-size: 1.3rem;
        text-align: center;
    }


    nav {
        font-size: 1.8rem;
        .menu {
            
            justify-content: center !important;
        }
    }

    

    .hero {
        
        height: 70%;
    }

    .ibama {
        p {
            margin-right: 5px !important;
        }
    }

}

// Medium UP
@media screen and (min-width: 768px){
    .contact-card{
        position: fixed;
        bottom: 50%;
        transform: translateY(50%);
        max-width: 280px;
        z-index: 999;
        right: 8%;
    }
}