nav {
    background-color: $cc-1;
    display: flex;
    
    font-family: 'FoundryMonoline';
    font-weight: 500;
    font-size: .9rem;

    
    .menu {
        display: flex;
        justify-content: space-between;
        div a {
            color: $cc-2;
            margin: 0 20px;
            text-decoration: none;
        }
    }
}