// Path to webfonts symbols.
$fa-font-path: '../fonts/webfonts';

// Fontawesome SCSS files.
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

// Font Family.
@font-face {
    font-family: 'FoundryMonoline';
    src: url('../fonts/FoundryMonoline-Medium.woff') format('woff'),
        url('../fonts/FoundryMonoline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FoundryMonoline';
    src: url('../fonts/FoundryMonoline-ExtraBold.woff') format('woff'),
        url('../fonts/FoundryMonoline-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FoundryMonoline';
    src: url('../fonts/FoundryMonoline-Light.woff') format('woff'),
        url('../fonts/FoundryMonoline-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FoundryMonoline-ExBdIta';
    src: url('../fonts/FoundryMonoline-ExBdIta.woff') format('woff'),
        url('../fonts/FoundryMonoline-ExBdIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FoundryMonoline-MedIta';
    src: url('../fonts/FoundryMonoline-MedIta.woff') format('woff'),
        url('../fonts/FoundryMonoline-MedIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FoundryMonoline';
    src: url('../fonts/FoundryMonoline-Regular.woff') format('woff'),
        url('../fonts/FoundryMonoline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

































@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/Open Sans Light Italic'), local('../fonts/OpenSans-LightItalic'),
        url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/Open Sans Regular'), local('../fonts/OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local('../fonts/Merriweather Bold'), local('../fonts/Merriweather-Bold'),
        url('../fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../fonts/Merriweather-Bold.woff') format('woff'),
        url('../fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/Open Sans Light'), local('../fonts/OpenSans-Light'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat Regular'), local('../fonts/Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/Open Sans Bold'), local('../fonts/OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local('../fonts/Merriweather Regular'), local('../fonts/Merriweather-Regular'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/Open Sans Italic'), local('../fonts/OpenSans-Italic'),
        url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/Open Sans Bold Italic'), local('../fonts/OpenSans-BoldItalic'),
        url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

